
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
input, button {
    display: block;
    width: 200px;
    margin: 5px 0;
    padding: 8px;
}
button {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
}
h2{
  text-align: center;
}